html, body {
    background: #1f1f1f;
    color: white;
}

.block {
    padding: 10px;
    border: 2px solid rgb(153, 153, 153);
    border-radius: 0.4em;
    position: relative;
    text-align: center;
    width: 60%;
    margin-left: 18.5%;
    font-size: 22px;
}

img {
    display: block;
    width: auto;
    height: auto;
    max-width: 50%;
    max-height: 45%;
    margin: 20px auto;
  }