html, body {
    background: #1f1f1f;
    color: white;
}

footer {
    opacity: 0;
    font-size: 1.5vw;
    margin-top: 4vw;
    color: #70E1FF;
    font-weight: bold;
    text-decoration: none;
}

img {
    display: block;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 90%;
    margin: 20px auto;
  }

.intro-center {
    position: absolute;
    font-size: 4vw;
    text-align: center;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    z-index: 50;
}

.cover-screen {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #1f1f1f;
    z-index: 25;
}

.logo-center {
    position: fixed;
    text-align: center;
    z-index: 50;
}


.logo-square {
    border: 0.4vw solid white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 10vw;
    height: 10vw;
    border: 0.2vw solid white;
    border-radius: 0.4vw;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 8vw; /* Location of the box */
    left: 0;
    top: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow-y: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    max-height: 95vw;
    box-sizing: border-box;
    
}

.modal-content {
    background-color: #1f1f1f;
    margin: auto;
    padding: 1.5vw;
    border: 0.1vw solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 4vw;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: rgb(218, 218, 218);
    text-decoration: none;
    cursor: pointer;
}

.block {
    padding: 1.5vw;
    margin: 3vw 0.2vw;
    border: 0.15vw solid rgb(153, 153, 153);
    border-radius: 0.8vw;
    position: relative;
    text-align: center;
}

.data-block {
    width: 100%;
    max-height: 65%;
    padding: 0.75vw;
}

.expand {
    height: 100%;
    animation-name: expand;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes expand {
    0%   {height: 0;}
    100%   {height: 100%;}
}

#display-spell {
    text-align: center;
}

.retract {
    height: 100%;
    animation-name: retract;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@keyframes retract {
    0% {height: 100%;}
    100%   {height: 0;}
}

.entry-bar {
    position: relative;
    text-align: center;
    height: 0;
    margin-top: 2vw;
    z-index: 10;
}

.button {
    font-family: 'Numans', sans-serif;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    color: white;
    border-image: linear-gradient(to bottom right, #ffffff, #9b9b9b);
    border-image-slice: 1;
    margin-left: 0.5vw;
    font-size: 1.2vw;
    background-color: transparent;
    padding: 0.5vw 1vw;
}

.button:hover {
    background: black;
    transition: 0.3s;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.3s;
  }
  
  .button span:after {
    content: '\003E';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -1.2vw;
    transition: 0.3s;
  }
  
  .button:hover span {
    padding-right: 2vw;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }

.form__group {
    width: 100%;
}
  
.form__field {
    font-family: 'Numans', sans-serif;
    width: 25%;
    border: 0;
    border-bottom: 0.25vw solid gray;
    outline: 0;
    font-size: 1.5vw;
    color: white;
    background: transparent;
    z-index: 10;
}
  
  
.form__field:focus {
    border-image: linear-gradient(to right, #ffffff,#9b9b9b);
    border-image-slice: 1;
}


.alkali {
    text-align: center;
    border: 0.2vw solid #FF4E4E;
    background: #FF4E4E;
    border-radius: 0.4vw;
    width: 3.5vw;
    min-width: 3.5vw;
    min-height: 3.5vw;
    height: 3.5vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.alkali:hover {
    cursor: pointer;
    border: 0.2vw solid #7e2525 !important;
    background: #7e2525 !important;
    transition: 0.3s;
}

.alkaline {
    text-align: center;
    border: 0.2vw solid #FFA94E;
    background: #FFA94E;
    border-radius: 0.4vw;
    width: 3.5vw;
    min-width: 3.5vw;
    min-height: 3.5vw;
    height: 3.5vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.alkaline:hover {
    cursor: pointer;
    border: 0.2vw solid #7a4205 !important;
    background: #7a4205 !important;
    transition: 0.3s;
}

.transition-metal {
    text-align: center;
    border: 0.2vw solid #2675FF;
    background: #2675FF;
    border-radius: 0.4vw;
    width: 3.5vw;
    min-width: 3.5vw;
    min-height: 3.5vw;
    height: 3.5vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.transition-metal:hover {
    cursor: pointer;
    border: 0.2vw solid #102f64 !important;
    background: #102f64 !important;
    transition: 0.3s;
}

.other-metal {
    text-align: center;
    border: 0.2vw solid #61cab0;
    background: #61cab0;
    border-radius: 0.4vw;
    width: 3.5vw;
    min-width: 3.5vw;
    min-height: 3.5vw;
    height: 3.5vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.other-metal:hover {
    cursor: pointer;
    border: 0.2vw solid #254e44 !important;
    background: #254e44 !important;
    transition: 0.3s;
}

.non-metal {
    text-align: center;
    border: 0.2vw solid #0CD033;
    background: #0CD033;
    border-radius: 0.4vw;
    width: 3.5vw;
    min-width: 3.5vw;
    min-height: 3.5vw;
    height: 3.5vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.non-metal:hover {
    cursor: pointer;
    border: 0.2vw solid #044712 !important;
    background: #044712 !important;
    transition: 0.3s;
}

.halogen {
    text-align: center;
    border: 0.2vw solid #F3D200;
    background: #F3D200;
    border-radius: 0.4vw;
    width: 3.5vw;
    min-width: 3.5vw;
    min-height: 3.5vw;
    height: 3.5vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.halogen:hover {
    cursor: pointer;
    border: 0.2vw solid #796900 !important;
    background: #796900 !important;
    transition: 0.3s;
}

.noble-gas {
    text-align: center;
    border: 0.2vw solid #A326FF;
    background: #A326FF;
    border-radius: 0.4vw;
    width: 3.5vw;
    min-width: 3.5vw;
    min-height: 3.5vw;
    height: 3.5vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; 
}

.noble-gas:hover {
    cursor: pointer;
    border: 0.2vw solid #3d0e5f !important;
    background: #3d0e5f !important;
    transition: 0.3s;
}

.lanthanide {
    text-align: center;
    border: 0.2vw solid #d23fff;
    background: #d23fff;
    border-radius: 0.4vw;
    width: 3.5vw;
    min-width: 3.5vw;
    min-height: 3.5vw;
    height: 3.5vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lanthanide:hover {
    cursor: pointer;
    border: 0.2vw solid #6a0888 !important;
    background: #6a0888 !important;
    transition: 0.3s;
}

.actinide {
    text-align: center;
    border: 0.2vw solid #ff3fc5;
    background: #ff3fc5;
    border-radius: 0.4vw;
    width: 3.5vw;
    min-width: 3.5vw;
    min-height: 3.5vw;
    height: 3.5vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.actinide:hover {
    cursor: pointer;
    border: 0.2vw solid #6e1a55 !important;
    background: #6e1a55 !important;
    transition: 0.3s;
}

/* FOR THE PERIODIC TABLE
!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!! */
.number {
    font-size: 0.525vw;
    color: #f5f5f5;
}

.symbol {
    position: relative;
    font-size: 1.22vw;
    color: #f5f5f5;
    margin: 0.4vw;

}

.element {
    font-size: 0.525vw;
    color: #f5f5f5;
}
/*
!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!!
!!!!!!!!!!!!!!!!!!!!!!!!! */

.ptable {
    border-spacing: 0.4vw;
    position: relative;
    margin: 5vh auto;
}

.a {
    padding: 0.75vw;
}

footer {
    text-align: center;
}

#contact {
    font-size: 3.5vw;
    color: #70E1FF;
    font-weight: bold;
    text-decoration: none;
}

.highlight {
    color: gold;
    font-weight: bold;
}

.word-format {
    display: inline-block;
    position: relative;
    border: 0.1vw solid white;
    border-radius: 0.4vw;
    padding: 0.75vw;
    margin: 0.4vw;
    font-size: 1.5 vw;
    font-family: 'Numans', sans-serif;
    background: black;
}

.link-to-vid {
    text-align: center;
    font-size: 2vw;
}
